
// dark mode!
body {
  background-color: #222222;
  color: #dddddd;
  font-family: 'Noto Sans', sans-serif;
}

// general styles

h1,h2,h3,h4,h5,h6,p {
  // margin: 0 0 0 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

h1 {
  font-size: 48px !important;
  font-weight: bold;
}
h2 {
  font-size: 30px !important;
  font-weight: bold;
}
h3 {
  font-size: 25px !important;
}
h4 {
  font-size: 22px !important;
}
h5 {
  font-size: 18px !important;
}
h6 {
  font-size: 16px !important;
}

.w-100 {
  width: 100%;
}

.card {
  border: none;
}

section {
  opacity: 0;
  transition: opacity 0.5s ease;
}

section.shown {
  opacity: 1;
  border: 1px solid #eeeeee;
}

.large-icon {
  font-size: 24px;
  color: #dddddd;
}

.radius {
  border-radius: 4px;
}

// big grid

#main-grid {
  margin: 1vh;
}

#gridy {
  height: 98vh;
}

// skip animation button

#skip-animation-button {
  position: fixed;
  bottom: 1rem;
  left: 45vw;
  width: 10vw;
  height: 5vh;

  opacity: 1;
  transition: opacity 0.5s ease;
}

#skip-animation-button.hidden {
  opacity: 0;
}

// nameplate

#nameplate {
  background-color: #333333;
}

#nameplate p.subtitle {
  color: #bbbbbb;
  font-size: 18px;
}

// hello world panel

.terminal {
  background-color: #111111;
  color: #dddddd;
  font-family: 'Consolas', monospace;
  font-weight: normal;
}

.terminal-prompt.prompt-shown {
  &:after {
    content: "_";
  }
}

// technical experience

#technical-experience {
  background-color: #222222;
}

#text-scrambler {
  height: 90%;
  margin: 5% 0 5% 0;
}

#text-scrambler p {
  color: #666666;
  margin: 0;
  padding: 0;
  font-family: 'Consolas', monospace;
}

#text-scrambler span {
  color: #dddddd;
  font-weight: bold;
}

// education

#education {
  background-color: #555555;
}

#education h3 {
  background-color: #666666;
  color: #ffcb05;
  font-weight: bold;
}

#education h3 small {
  color: #00276c;
  font-weight: bold;
}

// awards

#awards {
  background-color: #333333;
}

// connect

#connect {
  background-color: #222222;
}

#connect a {
  font-size: 16px;
  // color: #92d5e6;
  // transition: color 0.25s ease;
}

#connect a:hover {
  // color: #3f88c5;
}

// more about me

#more-about-me {
  background-color: #444444;
}
